<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnStr_LEVERANS_prod" connectionString="Data Source=SV-SVR-ALMAPP02.ALMAPAC.COM\APPDB20;Initial Catalog=LEVERANS_PROD;User ID=leverans_sa;Password=Pa55w0rdbd$" providerName="System.Data.SqlClient"/>
    <add name="ConnProduccion" connectionString="Data Source=10.10.21.9\nav2016;Initial Catalog=LEVERANS;User ID=sa;Password=Holahola$" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString" connectionString="Data Source=localhost;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="constr" connectionString="Data Source=localhost;Initial Catalog=base1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnDev" connectionString="Data Source=lvrns05.eastus.cloudapp.azure.com;Initial Catalog=NAVALMAPAC;User ID=sa_franklin;Password=3M8WCVjHCJ2KuJYj" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString2" connectionString="Data Source=localhost;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="300"/>
    <authentication mode="Forms">
      <forms name="frm_Login" loginUrl="Basculas/login.aspx" protection="All" path="/" timeout="60" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="ws_usuarios.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ws_basculas.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ws_arduino.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ws_arduino2.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ws_controllino.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ConnProduccion" value="Data Source=10.10.21.9\nav2016;Initial Catalog=LEVERANS;User ID=sa;Password=Holahola$"/>
    <add key="ConnStr" value="Data Source=10.10.21.9\nav2016;Initial Catalog=LEVERANS;User ID=sa;Password=Holahola$"/>
    <add key="ConnStr_LEVERANS_prod" value="Data Source=SV-SVR-ALMAPP02.ALMAPAC.COM\APPDB20;Initial Catalog=LEVERANS_PROD;User ID=leverans_sa;Password=Pa55w0rdbd$"/>
    <add key="url_ws" value="http://10.10.21.4:4047/LEVERANS/WS/ALMAPAC/Page/Registro_Interfaz2"/>
    <add key="ConnStr_prod" value="Data Source=10.10.21.9\nav2016;Initial Catalog=NAVALMAPAC;User ID=sa;Password=Holahola$"/>
    <add key="ConnStr1" value="Data Source=10.10.21.9\nav2016;Initial Catalog=LEVERANS;User ID=sa;Password=Holahola$"/>
    <add key="ConnStr2" value="Data Source=10.10.21.9\nav2016;Initial Catalog=LEVERANS;User ID=sa;Password=Holahola$"/>
    <!--<add key="ConnStr4" value="Data Source=lvrns05.eastus.cloudapp.azure.com;Initial Catalog=NAVALMAPAC;User ID=sa_franklin;Password=3M8WCVjHCJ2KuJYj"/>-->
    <add key="ws_transacciones.Registro_Interfaz2" value="http://apsvrnav01.almapac.com:7047/DynamicsNAV90/WS/ARDUINOS/Page/Registro_Interfaz2"/>
    <!--url del web-service pruebas-->
    <!-- <add key="ws_transacciones.Registro_Interfaz" value="http://10.10.21.10:4047/LEVERANS/WS/ALMAPAC/Page/Registro_Interfaz2"/>-->
    <!--url del web-service producción-->
    <!-- url http://10.10.21.10:7047/DynamicsNAV90/WS/ALMAPAC/Page/Registro_Interfaz2 -->
    <add key="ws_transacciones.Registro_Interfaz" value="http://10.10.21.4:7047/DynamicsNAV90/WS/ALMAPAC/Page/Registro_Interfaz2"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>